body {
    background: url("../img/bg_night.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  
  :root {
      --green: rgba(26, 36, 65, 0.75);
      --light-green: rgba(201, 212, 108, 0.5);
      --carrot: rgba(4, 24, 136, 0.75);
      --light-carrot: rgba(250, 171, 1, 0.8);
      --sand: rgba(134, 111, 104, 0.8);
    }